.content {
  display: flex;

  .button {
    background: #4448da;
    border-radius: 8px;
    width: 154px;
    height: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    .union {
      margin-left: 10px;
    }
  }
}
.input {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  width: 254px;
  height: 46px;
  color: #1f1f1f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-left: 14px;
  background-color: #f4f5f4;
  &:focus {
    outline: none;
  }
  margin-right: 16px;
}
