@import "../../assets/styles/veriables.scss";
.input {
  border: 1px solid $grey;
  border-radius: 8px;
  width: 254px;
  height: 46px;
  color: $dark;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-left: 14px;
  background-color: $main-color;
  &:focus {
    outline: none;
  }
}
