.input {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  width: 254px;
  height: 46px;
  color: rgba(31, 31, 31, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-left: 14px;
  background-color: #f4f5f4;
}
