@import "../../assets/styles/veriables.scss";
* {
  padding: 0;
  margin: 0;
  border: 0;

  html,
  body {
    font-family: Inter;
    min-width: 1145px;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 15px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: auto;
  }

  button {
    cursor: pointer;
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  a {
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }

  ul li {
    list-style: none;
  }

  .wrapper {
    height: 100vh;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    .flex {
      flex: 1 1 auto;
      .h3 {
        display: flex;
        justify-content: left;
        color: $blue;
        max-width: 1145px;
        margin: 0 auto;
        padding-top: 56px;
        padding-bottom: 20px;
      }
      .container {
        display: flex;
        width: 1145px;
        margin: 0 auto;
        justify-content: space-between;

        .button {
          margin-left: 15px;
          background: #4448da;
          border-radius: 8px;
          width: 100px;
          height: 24px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          color: #ffffff;
        }
      }
    }
  }
}
